# Application
SESSION_SECRET=someseceret

# Database
POSTGRES_USER=postgresUsername
POSTGRES_PASSWORD=Password
POSTGRES_DB=mydatabase
POSTGRES_PORT=5432

# Prisma
DATABASE_URL="postgresql://postgresUsername:Password@localhost:5432/mydatabase?schema=public"